* {
   margin: 0;
   padding: 0;
   outline: 0;
   appearance: none;
   border: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

select {
   height: 40px;
   margin: 0 50px;
   text-align: center;
}

::selection {
   background-color: $navigation;
   color: $bg-color;
}

#root {
   max-height: 100vh;
}

body[dir="RTL"] .MuiTablePagination-actions {

   // flex-direction: row-reverse !important;
   button {
      // background-color: green;
      transform: rotate(180deg);
      // transform: translateX(-180);
   }

}

body[dir="RTL"] .css-pdct74-MuiTablePagination-selectLabel::before {

   content: "אבי ביטר"!important;
}
// body[dir="RTL"] .css-pdct74-MuiTablePagination-selectLabel {

   // background-color: blue !important;
   // content: "אבי ביטר"!important;
   // display: none;

// }

html {
   font-family: Poppins, sans-serif;
   font-size: rem(14px);

   margin: 0;
   padding: 0;
   height: 100%;
}

body {
   width: 100vw;
   height: 100vh;
   font-size: rem(18px);
   // background: var(--color-background);

   user-select: none;
   overflow-x: hidden;

   &.rtl {
      direction: rtl;
   }
}

main {
   display: grid;
   // grid-template-columns: 18rem auto;
   grid-template-columns: auto;
   max-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 0.6em;
   line-height: 1;
}

section,
footer {
   margin: auto;
   padding: 20px;
}

img {
   width: 100%;
}

p {
   margin: 0 0 1em;
}

a {
   display: block;
   color: var(--color-dark);
   width: 100%;
}

.title {
   margin: 35px;
   padding: 10px;
   font-size: 40px;
}