.lead-filter {
    // max-width: 12vw;
    // position: initial;
    // margin: 2px;
    // display: flex;
    // justify-content: flex-start;
    // margin-top: 60px;
    // align-items: center;
    // gap: 10px;
    // flex-direction: column;

    width: 175px;
    margin: 0 0 0 0;
    padding: 15px 10px 0 20px;
    z-index: 5;

    h1 {
        margin-bottom: 2px;
        color: #497db5!important;
        font-weight: bold;
    }

    .MuiFormControl-root,
    .css-2m9kme-MuiFormControl-root {
        max-width: 170px;
    }

    // margin: 0 !important;
    h1 {
        color: white;
    }
}


.lead-app {

    // padding-top: 160px !important;
    display: flex;
    margin-top: 57px !important;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;

    .lead-table {
        .pagination div {
            // background-color: green;
            // flex-direction: row-reverse!important;
            justify-content: center !important;

            p {
                margin: 0;
            }

            .MuiTablePagination-actions {
                display: flex;


            }
        }
    }

    .edit-fields {
        form {
            max-width: 90vw;
            flex-wrap: wrap;
            color: white;
            display: flex;
            justify-content: start
        }

        .edit-field {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-self: flex-end;

            select {
                height: 30px;
                width: 120px;
                // margin-left: 10px;
                // margin-right: 10px;
            }
        }

        button {
            max-width: 100px;
            max-height: 30px;
            align-self: flex-end;
        }
    }

    div {
        form {

            .file {
                :hover {
                    cursor: pointer;
                    color: white;
                }
            }

            .file {
                input {
                    display: none;
                }
            }

            .file {
                width: unset;
                border: 2px black solid;
                background-color: lightblue;
                color: black;
                padding: 5px 10px;
                margin: 5px;
                border-radius: 5px;

            }
        }
    }


    background-size: 100% 100%;
    height: 95vh;
    margin: 0;
    padding: 20px;

    span {
        font-size: 20px;
        color: blue;
    }

    .title {
        color: #434957;

    }

    .add-btn {
        margin: 0;
        font-size: 16px;
        padding: 10px 16px;
    }

    .refresh-btn {
        margin: 0;
        justify-self: flex-end;
    }

    table {
        width: 100%;
        margin: 30px auto 80px auto;
        border-spacing: 0;
        border-collapse: collapse;

        td,
        th {
            padding: 6px 6px;
            border: 1px solid #ddd;
            text-align: center;
        }

        thead:first-child {
            background-color: cornflowerblue;
            color: white;
        }

        tbody tr:nth-child(even) {
            background-color: #ffffff;
        }

        tbody tr:nth-child(odd) {
            background-color: var(--color-info-dark);
        }

    }

    .edit-lead {
        background: var(--color-white);
        border-radius: var(--card-border-radius);
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
        transition: all 300ms ease;
        gap: 10px;
        width: 50%;
        align-items: center;
        padding: 30px;

        .close-btn {
            align-self: flex-start;
            margin: 0;
        }

        div {
            border: 1px black solid;
            border-radius: 10px;
            padding: 8px;

        }

        &:hover {
            box-shadow: none;
            transition: all 300ms ease;
        }

        input {

            border: gray 1px solid;
            border-radius: 10px;
            padding: 8px;
        }

        .lead-edit-form {
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;
            margin: 0;

            div {
                margin: 0;
            }

            select {
                border: gray 1px solid;
                border-radius: 10px;
                padding: 8px;
                min-height: 24px;
                height: 100%;
            }
        }

        .message {
            min-height: 300%;
            min-width: 100%;

            textarea {
                padding: 10px;
            }
        }
    }
}


@media(max-width:970px) {
    table {
        display: block;
        width: 100%;

        thead {
            display: none;
        }

        tbody,
        tr,
        td {
            display: block;
            width: 100%;

            &.package-id {
                display: none;
            }
        }
    }
}